body {
    background: #404040;
    scroll-behavior: smooth;
    height: 100vh;
}

.main-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: rgba(211, 211, 211, 0.521);
    border-radius: 10px;
}

.screen-top {
    top: 0;
}